body {
  height: 98.3vh;
  width: 96vw;
  background: url(../img/burning-cartoon-town.jpg) no-repeat center;
  background-size: cover;
  font-family: 'Lucida Console', monospace;
  color: rgba(241, 241, 241, 0.842);
}

img#scary-witch {
  width: 350px;
  height: auto;
  position: absolute;
  bottom: 150px;
  right: 250px;
}
legend {
  border: 1px solid;
  position: absolute;
  bottom: 350px;
  right: 550px;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
}
.container {
  width: 90%;
  height: 90vh;
  margin: auto;
}

.container,
#hidden2,
#input-name,
#input-num {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  padding: 10px;
  margin: 10px;
}
#hidden1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
::placeholder {
  text-align: center;
  color: white;
}
button {
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid rgba(252, 139, 11, 0.733);
  background-color: rgba(252, 139, 11, 0.733);
  color: white;
}
input {
  padding: 8px;
  margin-top: 8px;
  width: 400px;
  border: 1px solid rgba(193, 191, 197, 0.692);
  background-color: rgba(184, 178, 178, 0.562);
  border-radius: 10px;
  color: white;
  text-align: center;
}
img#fire {
  width: 150px;
  cursor: pointer;
}
.hidden,
#hidden2.hidden {
  display: none;
}
