body {
  height: 98vh;
  background: url(../img/burning-cartoon-town.jpg) no-repeat center;
  background-size: cover;
  font-family: 'Lucida Console', monospace;
  color: rgba(241, 241, 241, 0.842);
}
.container {
  height: 90vh;
  margin: auto;
}
ul {
  left: 200px;
  bottom: 100px;
  width: 75%;
  height: 75%;
  list-style: none;
  list-style-position: outside;
  background-color: rgba(87, 16, 16, 0);
  padding-right: 2.5rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  animation-timing-function: backwards;
}
ul > li {
  text-align: center;
  padding: 5px 0;
  background-color: rgba(56, 32, 0, 0.616);
  width: 300px;
  border-radius: 25px;
  border: 1px solid rgba(56, 32, 0, 0.616);
  animation: witchcraft 4s ease backwards;
}
.container,
#hidden2,
#input-name,
#input-num {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  padding: 10px;
  margin: 10px;
}
#hidden1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hidden,
#hidden2.hidden,
#hidden1.hidden {
  display: none;
}
#reset {
  margin-top: 100px;
}
#results-container {
  width: 90%;
  position: relative;
  z-index: 1;
}
p {
  color: red;
}
p#error-num {
  color: white;
}
button {
  padding: 10px;
  font-size: 22px;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid rgba(252, 139, 11, 0.733);
  background-color: rgba(252, 139, 11, 0.733);
  color: white;
}
input {
  padding: 8px;
  margin-top: 8px;
  width: 400px;
  border: 1px solid rgba(193, 191, 197, 0.692);
  background-color: rgba(184, 178, 178, 0.562);
  border-radius: 10px;
  color: white;
  text-align: center;
}
::placeholder {
  text-align: center;
  color: white;
}
img#fire {
  width: 150px;
  cursor: pointer;
}
img#scary-witch {
  width: 350px;
  height: auto;
  position: absolute;
  bottom: 150px;
  right: 250px;
}
legend {
  position: absolute;
  bottom: 330px;
  right: 500px;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  background: #8c9191d0;
  border-radius: 15px;
}
legend:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #8c9191d0;
  border-top: 10px solid #8c9191d0;
  border-bottom: 10px solid transparent;
  right: 19px;
  bottom: -20px;
}
@keyframes witchcraft {
  from {
    transform: translate(300%, -300%);
  }
  to {
    position: absolute;
    transform: translate(0%, 0%);
  }
}